<!DOCTYPE html>
<html>
<head>
    <title>Admin Remove</title>
</head>
<body>
    <h1>Removing All Runners</h1>
    <form action="/processRemoveApplicants" method="POST">
        <button type="submit">Remove all Runners</button>
    </form>
    <p><a href="/">HOME</a></p>
</body>
</html>
