<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title>Endurunce</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav>
        <a href="/logRun">Go4Run</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/myJourney">MyJourney</a>
        <a href="https://www.healthline.com/health/fitness-exercise/at-home-workouts#_noHeaderPrefixedContent">WorkoutM0re</a>
        <form action="/adminRemove" method="POST" onsubmit="return confirm('Are you sure you want to remove all runners?');">
          <button id ="removeAllButton" type="submit">Remove All Runners</button>
        </form>
        
      </nav>
  </header>

  <main>
    <section class="welcome-section">
        <div class="image">
          <img src="run4.jpg" alt="Welcome Image">
          <div class="title">ENDURUNCE</div>
        </div>
      </section>

      <section class="content">
        <div class="text">
          <p>
            Tired of spending all day working on your cs project? 
            <br> Yea same. :( <br><br>

            Dang, looks like you might need a teeny tiny bit of  motivation to get up and running. 
            Excuses are so easy to make, but lets say there was a super easy and quick a way to track your progress, set goals, and actually see the results of your hard work? <br><br>
            Well, that’s where <strong>Endurunce</strong> comes in. <br><br>
            
            This isn’t just another fitness app. We are different. We are him. Endurunce is a place where you can log your miles, keep track of your runs, see your improvements over time, turning yourself
            into a chill guy, rather than a sad person.  <br><br>
            
           You can just be starting or even trying to improve your endurance. All is welcome as Endurunce helps you stay on track and motivated. <br><br>Challenge yourself with milestones, and compare your performance week by week. Every run is one step to your goal (you can do it!), 
           and with Endurunce, you get to see your progress in real-time.<br><br>
           
           It's all about consistency. Endurunce makes it easy to log your runs, track your times, and celebrate ALL your wins.<br><br>

           Lets turn those excuses into achievements !!!
            :)
          </p>
        </div>
        <div class="image-box">
          <img src="/run2.jpg" alt="Image 1">
          <img src="/run1.jpg" alt="Image 2">
        </div>
      </section>

  </main>

</body>
</html>
