<!DOCTYPE html>
<html>
<head>
    <title>Remove Runners</title>
</head>
<body>
    <h1>Removal of All Runners</h1>
    <p>All Runners have been removed from the database. Number of Runners removed: <%= count %></p>
    <p><a href="/">HOME</a></p>
</body>
</html>
